aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
asgiref
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
click
cssselect
dataclasses-json
distro
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
feedfinder2
feedparser
filelock
frozendict
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
html5lib
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
jieba3k
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
mpmath
multidict
multitasking
mypy-extensions
networkx
newspaper3k
nltk
numpy
openai
orjson
packaging
pandas==2.2.2
pandas-ta
peewee
pillow
platformdirs
praw
prawcore
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-file
requests-futures
requests-toolbelt
rsa
safetensors
scikit-learn
scipy
setuptools
sgmllib3k
six
sniffio
soupsieve
SQLAlchemy
sqlparse
sympy
tenacity
threadpoolctl
tiktoken
tinysegmenter
tldextract
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
update-checker
uritemplate
urllib3
webencodings
websocket-client
websockets
wheel
whitenoise
yahooquery
yarl
yfinance
zstandard